# Database Configuration
POSTGRES_DB=dosetwin_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dosetwin_db

# Backend App Settings
PROJECT_NAME="DoseTwin AI"
API_V1_STR=/api/v1

# Frontend Settings
VITE_API_URL=http://localhost:8000
